table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 2px solid purple;
    width: 100px;
}

tbody tr:nth-child(even){
    color: white;
    background-color: slategray
}

tbody tr:nth-child(odd){
    color: white;
    background-color: darkslategray;
}

th{
    background-color: lightslategray;
}

.osszevont{
    background-color: darkorange;
}

@media screen and (max-width: 600px){
    table{
        overflow-x: scroll;
    }
}